includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        - '#Access to an undefined property.*Application.*router#'
        - '#Parameter.*callback.*spl_autoload_register.*expects.*callable.*#'

    excludePaths:
        - vendor/